@import 'functions', 'variables', 'mixins';

mat-form-field.mat-form-field {
	width: 100%;
}

section {
	font-size: 0.75rem;
	@include media-breakpoint-up(sm) {
		font-size: 1rem;
	}
}

pre {
	white-space: pre-wrap;
	border-radius: 0.5rem;
	background-color: #f1f1f2;
}

.sticky {
	position: sticky;
	top: 2rem;
	height: fit-content;
}

button:focus {
	outline-width: 0;
}
